Adafruit-Blinka==4.1.0
adafruit-circuitpython-dht==3.3.0
Adafruit-PlatformDetect==2.4.0
Adafruit-PureIO==1.0.4
pyftdi==0.47.2
pyserial==3.4
pyusb==1.0.2
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
spidev==3.4
sysv-ipc==1.0.1
